html {
            color-scheme: light dark;
            background-image: url(https://i.redditmedia.com/AUXwGcVgSh0v6POuTDYvWH1kEzBQvK1EWb777KbSp4w.jpg?s=7417d7fcca26778f6d2b0f43196cc18e);
            background-size: cover;
            background-attachment: fixed;
            background-repeat: no-repeat;
            --border-color: #000000;
            max-width: 100%;
        }

        * {
            box-sizing: border-box;
            font-family: Verdana, sans-serif;
        }
        
        #main {
            display: grid;
            outline: solid green 1px;
            background-color: rgb(15, 33, 10);
            backdrop-filter: blur(10px);
            min-width:35em;
            aspect-ratio: 1/1;
        }
        
        .forlabelplacemnt {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 0.5em;
            label {
                background-color: rgba(42, 50, 103, 0.8);
                padding: 0.3em;
                border-radius: 7px;
            }
        }
        .box {
            aspect-ratio: 1/1;
        }

        .colorbox {
            outline: 1px solid var(--border-color);
        }

        .needToFleeex {
            display: flex;
            gap: 0.5rem;
            align-items: center;
            flex-wrap: wrap;
            justify-content: space-evenly;
            margin: 3em;
        }

        .btnpos {
            display: grid;
            grid-template-columns: 1fr;
            gap: 1em;
            /* justify-items: center; */
            background-color: rgba(111, 111, 111, 0.288);
            backdrop-filter: blur(7px);
            padding: 0.4em;
            text-wrap: wrap;
            border-radius: 15px;

            * {
                /* background-color: rgba(104, 104, 104, 0.779); */
                border: none;
                border-radius: 5px;
                /* padding: 3px; */
            }

            div {
                display: flex;
                justify-content: space-around;
                align-items: center;
            }

            button {
                background: rgb(86, 86, 86);
                color: inherit;
                border: none;
                padding: 2px;
                font: inherit;
                cursor: pointer;
                outline: none;
            }
        }

        .labelForSize {
            display: inline;
        }


        .bigbox {
            display: flex;
            flex-direction: column;
            gap: 0.2em;
        }

        .history {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: rgba(111, 111, 111, 0.288);
            backdrop-filter: blur(7px);
            border-radius: 15px;
            padding: 0.4em;

        }

        .colorHistory{
            min-height: 2em;
            max-height: 7em;
            overflow-y: auto;
            overflow-x: hidden;
            scrollbar-width: thin;
        }
